.headercontainer {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 5px;
    padding-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ccc solid 1px;
}

.headernav {
    display: flex;
    align-items: center;
}

a.home {
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
    font-size: 21px;
    padding: 6px 12px 6px;
    line-height: 1;
}

a.headernavlink {
    text-transform: uppercase;
    font-weight: 500;
    padding: 6px 10px 5px;
    font-size: 15px;
    color: #000000;
    margin-left: 32px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


a.headernavlink:visited:hover,
a.headernavlink:hover {
    text-decoration: none;
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}

a.home:visited,
a.headernavlink:visited {
    color: #000000;
}

.home a:before, .home a:after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.home a:before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.home a:after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.home a:hover:before, .home a:hover:after, .home a:focus:before, .home a:focus:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


.parent-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.child-container {
    width: 100%;
    max-width: 1060px;
    min-height: 300px;
}
.resume-container-left {
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    align-self:flex-start;
}
.resume-container-right {
    width: 100%;
    max-width: 200px;
    min-height: 300px;
    align-self:flex-start;
}
    
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 25px;
    background-color: #f4f0ec;
}

.paragraph {
    display: flex;
  }

.photo {
    margin: 20px;
    width: 150px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border: white solid 4px;
}

.text-right {
    align-self: flex-end;
}

a,
a:visited {
    text-decoration: none;
    color: #4169e1;
}

a:hover {
    text-decoration: underline;
}

a:focus,
a:active {
    text-decoration: none;
    outline: none;
}